<!-- <h2 mat-dialog-title>Install Angular</h2>



<mat-dialog-content class="mat-typography">
  <h3>Develop across all platforms</h3> -->
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Weight</th>
      <td mat-cell *matCellDef="let element">{{ element.company }}</td>
    </ng-container>

    <!-- Symbol Column -->a
    <ng-container matColumnDef="x">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{ element.x }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<!-- </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onClose()" mat-dialog-close>Cancel</button>
</mat-dialog-actions> -->
